<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#myNavBar" aria-expanded="false" aria-controls="myNavBar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['']">DiveJournal</a>

        <div id="myNavBar" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li *ngIf='firebaseService.currentUser' class="nav-item"><a class="nav-link" [routerLink]="['/journal-list']">My Journal</a></li>
            <li *ngIf='firebaseService.currentUser' class="nav-item"><a class="nav-link" [routerLink]="['/map']">Map</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf='!firebaseService.currentUser' class="nav-item"><a class="nav-link" (click)='login()' role="button">Login</a></li>
            <li *ngIf='!firebaseService.currentUser' class="nav-item"><a class="nav-link" (click)='signUp()' role="button">Sign Up</a></li>
          
            <div ngbDropdown class="d-inline-block"  *ngIf='firebaseService.currentUser'>
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                {{firebaseService.currentUser.displayName == null? firebaseService.currentUser.email : firebaseService.currentUser.displayName}} 
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)='logout()'>Logout</button>
                <button class="dropdown-item" (click)='logout()'>Profile</button>
              </div>
            </div>
          </ul>
        </div><!--/.nav-collapse -->
</nav>

